!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}

    :sass
      html, body
        height: 100%
        margin: 0
        padding: 0
      #map
        height: 100%

    :javascript
      var addressList = #{@address_list};

  %body
    %div{id: 'map'}
    %h1=@mes
    %script{type: 'text/javascript', src: "//maps.google.com/maps/api/js?key=#{ENV['API_KEY']}"}
    %script{type: 'text/javascript', src: './app.js'}
